.table-card {
    background: linear-gradient(135deg, #ddd6f3, #faaca8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  .table-card thead th {
    background: #444;
    color: #fff;
    border: none;
  }

  .table-card tbody td {
    border: none;
  }

  .btn-edit {
    background-color: #007bff;
    color: #fff;
  }